/* Mobile Styles */

@media handheld, screen and (max-width: 743px) {
  * {
    margin: 0;
    padding: 1px 2px 2px 1px;
    box-sizing: border-box;
  }

  .mat-card-avatar{
      border-radius: 50%;
  }

  .playerDetails {
    height: 50px;
    display: flex;
    padding-left: 15px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid;
    border-radius: 5px;
  }

  .playerDetails>img {
    border-radius: 50%;
  }
  .playerName {
    padding-right: 220px;
  }
  .event-details {
    max-width: 400px;
    margin: 0 auto;
  }

  .time-text {
    display: inline-block;
  }
  .box {
    position: relative;
    display: inline-block;
  }

  .time-text {
    font-family: "Roboto", sans-serif;
  }

  .box .time-text {
    position: absolute;
    font-size: 19px;
    z-index: 989;
    left: -10px;
    right: 0;
    text-align: center;
    top: 0%;
    /* Adjust this value to move the positioned div up and down */
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    width: 100vw;
    /* Set the width of the positioned div */
  }

  .container {
    text-align: center;
    /* margin: 50%; */
    /* width: 0 auto; */
  }

  .game-card img {
    max-width: 90vw;
  }
  .float{
    position:fixed;
    width: 75px;
    height: 75px;
    bottom:40px;
    right:40px;
    background-color:#3f51b5;
    
    border-radius:50px;
    text-align:center;
    box-shadow: 2px 2px 3px #999;
  }
  
  .my-float{
    color:#FFF;
    margin-top:22px;
    font-size: 20px;
  }
  .float:hover{
    cursor: pointer;
  }
}
@media handheld, screen and (min-width: 743px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .event-details {
    max-width: 400px;
    margin: 0 auto;
  }
  .box {
    position: relative;
    display: inline-block;
  }
  .people-list {
    margin: 0 28%;
  }
  .time-text {
    font-family: "Roboto", sans-serif;
  }
  .playerDetails {
    width: 500px;
    height: 50px;
    display: flex;
    padding-left: 15px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid;
    border-radius: 5px;
  }

  .playerDetails>img {
    border-radius: 50%;
  }
  .playerName {
    padding-right: 220px;
  }
  .box .time-text {
    position: absolute;
    font-size: 19px;
    z-index: 989;
    left: -10px;
    right: 0;
    text-align: center;
    top: 0%;
    /* Adjust this value to move the positioned div up and down */
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    width: 500px;
    /* Set the width of the positioned div */
  }
  .container {
    text-align: center;
    /* margin: 50%; */
    /* width: 0 auto; */
  }
  .game-card img {
    /* max-width: 400px;
margin: 0 auto; */
    /* width: 0 50%; */
    max-width: 500px;
  }
  .float{
    position:fixed;
    width: 75px;
    height: 75px;
    bottom:40px;
    right:40px;
    background-color:#3f51b5;
    
    border-radius:50px;
    text-align:center;
    box-shadow: 2px 2px 3px #999;
  }
  
  .my-float{
    color:#FFF;
    margin-top:22px;
    font-size: 20px;
  }
  .float:hover{
    cursor: pointer;
  }
}
