<!-- <mat-card class="event-details">
    <mat-card-header>
        <div mat-card-avatar class="event-header-image"></div>
        <mat-card-title>{{ game.title }}</mat-card-title>
        <mat-card-subtitle>{{ game.location }}</mat-card-subtitle>
    </mat-card-header>
    <div class="box">
        <img mat-card-image src="../../../assets/images/trekkerz.png" alt="Trekkerz" />
        <div class="time-text">Starting time: {{ game.time }}</div>
    </div>
    <mat-card-content>
        <h4>Players and statuses</h4>

        <span> Players Attending {{ game.players.length }}</span>
        <mat-list>
            <mat-list-item *ngFor="let player of game.players">
                <mat-icon matListIcon>mood</mat-icon>
                <h3 matLine>{{ game.player.name }} {{ game.player.state }}</h3>
            </mat-list-item>
        </mat-list>
        <mat-card-actions>
            <button mat-button (click)="addPlayer()"> {{ join == true ? 'Remove Me' : 'Add Me' }}</button>
            <button mat-button (click)="addEvent()"> {{ join == true ? 'Confirm' : 'Cancel'}}</button>
        </mat-card-actions>
    </mat-card-content>
</mat-card> -->

<ng-template #loading> Loading stuff... </ng-template>
<div class="container">
  <!-- <div class="box"> -->
  <div class="time-text">
    <h2>Name: {{ game.title }}</h2>
    <h3>location: {{ game.location }}</h3>
  </div>
  <div class="game-card">
    <img src="assets/images/trekkerz.png" alt="Trekkerz" />
  </div>


  <div class="count">
    <h4>Total count {{ game.players.length }} players</h4>
    <h4>{{ remaining }}</h4>
  </div>
  <div class="people-list">
    <ul *ngFor="let player of game.players">
      <li class="playerDetails">
          <img mat-card-avatar appGravatar [player]="player.name" />
          <div class="playerName">{{ player.name }}</div>
      </li>
    </ul>
  </div>
</div>
