<mat-card class="event-details" *ngIf="game; else loading">
  <mat-card-header>
    <div mat-card-avatar class="event-header-image"></div>
    <mat-card-title>{{ game?.title }}</mat-card-title>
    <mat-card-subtitle>{{ game?.location }}</mat-card-subtitle>
  </mat-card-header>
  <div class="box">
    <img
      mat-card-image
      src="../../../assets/images/trekkerz.png"
      alt="Trekkerz"
    />
    <div class="time-text">Starting time: {{ game?.time }}</div>
  </div>
  <mat-card-content>
    <h4>Players and statuses</h4>

    <span> Players Attending {{ game.players?.length }}</span>
    <mat-list>
      <mat-list-item *ngFor="let player of game.players">
        <mat-icon matListIcon>mood</mat-icon>
        <h3 matLine>{{ player.name }} {{ player.state }}</h3>
      </mat-list-item>
    </mat-list>
    <mat-card-actions>
      <a [routerLink]="['/event-details', game.id]">Go to details</a>
        <button mat-button (click)="gameDetails()"> View more details</button>
        <button mat-button (click)="addEvent()"> {{ join == true ? 'Confirm' : 'Cancel'}}</button>
      </mat-card-actions>
  </mat-card-content>
</mat-card>
<!-- <div class="card"> -->
  <!-- <img src="img_avatar.png" alt="Avatar" style="width:100%"> -->
  <!-- <div class="container"> -->
    <!-- <h4><b>{{game.title}}</b></h4> -->
    <!-- <p>{{game.location}}</p> -->
  <!-- </div> -->
<!-- </div> -->
<ng-template #loading>
    Loading stuff...
  </ng-template>