.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  .mat-card-title {
      text-align: left;
      margin: 0;
  }
  
  /* Add some padding inside the card container */
  .mat-card-image {
    /* padding: 2px 16px; */
    margin: 0px;
  }

  img {
      width: 300px;
      height: 300px;
  }

  .box {
    position: relative;
    display:inline-block;
  }

  .time-text {
    font-family: 'Roboto', sans-serif;
  }

  .box .time-text{
    position: absolute;
    font-size: 19px;
    z-index: 989;
    right: 0;        
    text-align: center;
    top: 83%; /* Adjust this value to move the positioned div up and down */
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    width: 60%; /* Set the width of the positioned div */
}

.mat-card-header {
  position: absolute;
  z-index:10;
  left: 0px;
  top: 10%;
}

