<div class="container" *ngIf="games">
    <div class="card-container" *ngIf="games; else loading">
        <mat-card class="event-details" *ngFor="let game of sample">
            <mat-card-header>
                <div mat-card-avatar class="event-header-image"></div>
                <div class="title">
                    <mat-card-title>{{ game?.title }}</mat-card-title>
                    <mat-card-subtitle>{{ game?.location }}</mat-card-subtitle>
                </div>
            </mat-card-header>
            <div class="box">
                <img mat-card-image src="../../../assets/images/trekkerz.png" alt="Trekkerz" />
                <div class="time-text">Starting time: {{ game?.time }}</div>
            </div>
            <mat-card-content>
                <p>Players currently Attending {{ game.players?.length }}</p>
                <mat-card-actions (click)='gameDetails( game.id )'>
                    <a [routerLink]="['/event-details',game.id]"> <button mat-button> View more details</button></a>
                </mat-card-actions>
            </mat-card-content>
        </mat-card>
    </div>
    <ng-template #loading>
        Loading stuff...
    </ng-template>
</div>