<mat-card class="event-details">
  <mat-card-header>
    <div mat-card-avatar class="event-header-image"></div>
    <mat-card-title>{{ events[0]?.title }}</mat-card-title>
    <mat-card-subtitle>{{ events[0]?.location }}</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    src="../../../assets/images/trekkerz.png"
    alt="Trekkerz"
  />
  <mat-card-content>
    <h4>Players and statuses</h4>
    <span> Players Attending {{ players?.length }}</span>
    <mat-list>
      <mat-list-item *ngFor="let player of players">
        <mat-icon matListIcon>mood</mat-icon>
        <h3 matLine>{{ player.name }} {{ player.state }}</h3>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
