<div class="container">
  <h4>Game Details</h4>
  <div *ngIf="events; else noShow">
    <p>Title: {{ events[0]?.title }}</p>
    <p>When: {{ events[0]?.date }}</p>
    Time: {{ events[0]?.time }}
  </div>
  <ng-template #noShow>
    No details found
  </ng-template>

  <br />
  <h4>Players Attending {{ players?.length }}</h4>
</div>

<mat-list>
  <mat-list-item *ngFor="let player of players">
    <mat-icon matListIcon>mood</mat-icon>
    <h3 matLine>{{ player.name }} {{ player.state }}</h3>
  </mat-list-item>
</mat-list>
