<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    [ngClass]="{ hidden: !(isHandset$ | async) }"
    fixedInViewport="false"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list (click)="drawer.toggle()">
      <a mat-list-item routerLink="/createevent">Create an event</a>
      <a mat-list-item routerLink="/">Event Details</a>
      <a mat-list-item routerLink="/about">About</a>
      <a mat-list-item *ngIf="isAuthenticated" (click)="onLogout()">Logout</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" >
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <a rounterLink="/"><span>teamFutBeta</span></a>
        <span class="spacer"></span>
        <a *ngIf="!(isHandset$ | async)" routerLink="/create-event">Create an event</a>
        <a *ngIf="!(isHandset$ | async)" routerLink="/event-details/2">Event Details</a>
        <a *ngIf="!(isHandset$ | async)" routerLink="/about">About</a>
        <a *ngIf="isAuthenticated && !(isHandset$ | async)" (click)="onLogout()">Logout</a>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
