<!-- <ng-container> -->
<mat-horizontal-stepper linear #stepper>
  <mat-step #step1 [editable]="isEditable">
    <form [formGroup]="detailsForm">
      <ng-template matStepLabel>Name of event</ng-template>
      <div>
        <mat-form-field>
          <input
            matInput
            placeholder="Footy game for this sunday"
            formControlName="title"
            required
          />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="Mowbray or Century" formControlName="location" required />
        </mat-form-field>
      </div>
      <div>
          <mat-form-field>
            <input matInput placeholder="date" formControlName="date" required />
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input matInput placeholder="time" formControlName="time" required />
          </mat-form-field>
        </div>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [editable]="isEditable">
    <form [formGroup]="eventForm">
      <ng-template matStepLabel>Add players</ng-template>
      <mat-form-field>
        <input matInput placeholder="Address" formControlName="name" required />
      </mat-form-field>
      <div>
        <button mat-button (click)="move(0)">Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
    <div>Step 1 is completed? {{ !!step1.completed }}</div>
    <!-- <form [formGroup]="detailsForm" *ngIf="!detailsCompleted" (ngSubmit)="submitDetails(f)">
        <div class="form-group">
          <label for="title">Name of event</label>
          <input
            type="text"
            name="title"
            formControlName="title"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label for="location">Location</label>
          <input
            type="text"
            name="location"
            formControlName="location"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label for="date">Date</label>
          <input
            type="text"
            name="date"
            formControlName="date"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label for="time">Time</label>
          <input
            type="text"
            name="time"
            formControlName="time"
            class="form-control"
          />
        </div>
        <button (click)="addDetails()">
          Add details
        </button>
      </form>

      <form
        (ngSubmit)="addEvent(f)"
        #f="ngForm"
        [formGroup]="eventForm"
        *ngIf="detailsCompleted"
      >
        <div class="form-group">
          <label for="name">Name of player</label>
          <input
            type="text"
            id="name"
            formControlName="name"
            class="form-control"
          />

          <div class="form-group">
            <label for="attendingState">User attending status</label>
            <select
              class="form-control"
              name="state"
              id="state"
              formControlName="state"
            >
              <option *ngFor="let state of attendingState" [ngValue]="state">
                {{ state }}</option
              >
            </select>
          </div>
          <button (click)="addConfirmed()">Add Player</button>

          <hr />

          <div *ngIf="players">
            <h2>Confirmed {{ players.length }}</h2>
            <li *ngFor="let player of players">
              {{ player.name }} {{ player.state }}
            </li>
          </div>
        </div>
        <button [disabled]="!eventForm.valid" (click)="addEvent()">
          Create Event
        </button>
      </form> -->
    <!-- </ng-container>-->
  </mat-step></mat-horizontal-stepper
>
