mat-form-field {
    width: 100%;
  }
  mat-list-item {
    transition: background-color 2s;
    transition-property: all 2s;
  }

  mat-list-item:hover {
    cursor: pointer;
    background-color: rgb(228, 220, 220);
  }
  mat-list-item:hover .clear-button {
    display:block;
  }
  .clear-button {
    display: none;
  }
